github

react

ts

    single responsibility principle

    use interface



logic

    get number

    print 1 to number



    get height, width,

    calc area and show



extra

    cover error edge cases



unit test

    test services seperately